{% extends "bootstrap/base.html" %}

{% block title %}FourSeasons{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>

{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">四季驾校</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}
{#                    <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">前往控制台</a>#}
                      <li><a href="{{ url_for('main.dashboard') }}">前往控制台</a></li>
                    {% else %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    我的
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">模拟成绩</a></li>
                    </ul>
                    </li>
                    {% endif %}
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    科目一
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/practice/0/0">练习</a></li>
                        <li><a href="/test/0/0">模拟考试</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    科目四
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">练习</a></li>
                        <li><a href="#">模拟考试</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    考试资料
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.sub24_posts', post_type=0) }}">科目二</a></li>
                        <li><a href="{{ url_for('main.sub24_posts', post_type=1) }}">科目三</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block left_bar %}{% endblock %}
    {% block page_content %}{% endblock %}
    {% block question_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
