{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Four Seasons{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>编辑试题</h1>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block question_content %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            试题
        </div>
        <div class="panel-body">
            {% include '_questions.html' %}
        </div>
    </div>
</div>
{% endblock %}



