{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Four Seasons{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="width: 60%; font-size: 20px;">
                {{ wtf.quick_form(form) }}
                <div class="panel panel-default">
                    <div class="panel-heading">
{#                        {% if question.image %}#}
{#                            <img src={{ question.image }} class="img-responsive" alt="Responsive image">#}
{#                        {% endif %}#}
                        <span id="question_num">{{ id + 1}}</span> /
                        <span id="question_all">{{ question_num }}</span>
                        <span id="question_type" style="visibility:hidden">{{ question_type }}</span>

                        {% if question.image %}
                            <img src={{ question.image }} class="img-responsive" alt="Responsive image" style="width:100%;">
                        {% endif %}
                        {{ question_t['question'] }}
                    </div>
                    <div class="panel-body">
                        <ul style="margin-top: 50px;">
                            <li>
                                <label>
                                    <input name="s_option" value="A" type="radio"> A:{{ question_t['A'] }}
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input name="s_option" value="B" type="radio"> B:{{ question_t['B'] }}
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input name="s_option" value="B" type="radio"> C:{{ question_t['C'] }}
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input name="s_option" value="D" type="radio"> B:{{ question_t['D'] }}
                                </label>
                            </li>
                        </ul>
                        <div id="question_ok">
                            <p id="question_ans" style="padding: 20px;">答案：{{ question.answer }}</p>
                            <p id="question_analysis" style="padding: 20px;">{{ question.analysis }}</p>
                        </div>
                        <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-top: 50px;">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" id="prev_button">前一题</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="ok_button" type="button" class="btn btn-default">详情</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" id="next_button">后一题</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var question_num = parseInt($('#question_num').text());
        var question_all = parseInt($('#question_all').text());
        var question_type = parseInt($('#question_type').text());
        var question_ok = $('#question_ok');
        if (question_num === 1) {
            $('#prev_button').attr('disabled', 'disabled');
        }
        $('#next_button').on('click', function () {
            if (question_num !== question_all) {
                window.location.href = '/practice/' + question_type + '/' + question_num;
            } else {
                $('#next_button').attr('disabled', 'disabled');
            }
        })
        $('#prev_button').on('click', function () {
            if (question_num !== 1) {
                window.location.href = '/practice/' + question_type + '/' + (question_num - 2);
            }
        })
        $('#ok_button').on('click', function () {
            question_ok.css('display', 'block');
        })
</script>
{% endblock %}


